
body
{
    background-color:lightblue;
    opacity: 1;
}
h1{
    color:red;
    text-align: center;
    text-decoration: underline;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;

}
.division{

border: red solid;
padding: 10px;
background-color: rgb(3, 50, 54);

}
.first-children{
    border: rgb(10, 224, 10) solid 2px;
} 
#first-chilren-heading{
    text-align: c;
}
#paragraph{
    font-size: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.second-children {
    border: rgb(93, 12, 233) solid 2px;

}